<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1015999940295-v9ch5d1gcecb7qpeacrptnfm9eigilv3</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Aladin-Regular.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>JosefinSans-SemiBold.ttf</string>
		<string>JosefinSans-Regular.ttf</string>
		<string>JosefinSans-Light.ttf</string>
		<string>JosefinSans-Bold.ttf</string>
	</array>
</dict>
</plist>
